<h1>Bem-vindo a home</h1>

<% if user_signed_in? %>
  Olá, <%= current_user.email %>
  <br>

  <%= form_for @tweet do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>

  <ul>
    <% current_user.feed.each do |tweet| %>
      <li><%= link_to tweet.user.email, user_path(tweet.user) %> - <%= tweet.content %></li>
    <% end %>
  </ul>

  <%= link_to "Sair", destroy_user_session_path, method: :delete %>

<% else %>
 <%= link_to "Clique aqui para logar", new_user_session_path %>
<% end %>
